<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page de Commentaires</title>
  </head>
  <body>
    <h2>Commentaires</h2>
    <form action="/reset_comments" method="post">
      <button type="submit">Reset Comments</button>
    </form>
    <form action="/post_comment" method="POST">
      <textarea name="comment" rows="4" cols="50"></textarea><br />
      <input type="submit" value="Envoyer" />
    </form>
    <div id="comments">
      <!-- Les commentaires seront affichés ici -->
    </div>
  </body>
</html>
